# Built in function in python

In [2]:
# Built in function in pyhton are like ready to made tools that come into the language. 
# These function are already available for you to use, so you don'nt need to define them yourself. they make pogramming in pyhton easier and more 
# efficient because you can reky on these functions to perform tasks tat are commonly needed in your programs.
# Think of them as shortcuts or pre made solutions for common peoblems. For example, if you want to print something to screen, you can use the 
# built-in funtion print()

# Float function - convert integer, string('3.45') to floating number

In [4]:
num_int = 10
print(type(num_int))
a = float(num_int)
print(a)
print(type(a))

<class 'int'>
10.0
<class 'float'>

In [5]:
a = '3.14'
print(type(a))
b = float(a)
print(type(b))

<class 'str'>
<class 'float'>

# Int function - onvert float, string('3.45') to integer number

In [7]:
a = 5.62525366
print(type(a))
c = int(a)
print(c)
print(type(c))

<class 'float'>
5
<class 'int'>

# complex function

In [8]:
x = complex(3,4)
print(x)

(3+4j)

In [9]:
x = 3
print(complex(x))

(3+0j)

# absolute function - abs() convert -ve number to +ve

In [10]:
x = -23
print(abs(x))

23

In [12]:
y = -6.78
print(abs(y))

6.78

In [13]:
z = -3+4j
print(abs(z))

5.0

# length function  -- len()

In [14]:
a = 'hello i am your educator swati'
print(len(a))

30

In [15]:
c = [12, 34, 245,67]
print(len(c))

4

In [16]:
player_score = 1234.56
print('the player score is', int(player_score))

the player score is 1234

In [17]:
customer_database = [(1, 'john doe'), (2, 'jane smoth'), (3, 'alice')]
print('the total number of customer in database is', len(customer_database))

the total number of customer in database is 3

In [23]:
p = 250000
r = 9.3456
t = 3
SI = ((p*r*t)/100)
print('the simple interest is', SI)
print('the integer value is', int(SI))

the simple interest is 70092.0
the integer value is 70092